{
  "presets": [
    [
      "env",
      { "targets": { node: "current", "modules": false } }
    ]
  ],
  "plugins": [
    [
      "transform-object-rest-spread", { "useBuiltIns": true }
    ]
  ]
}
